md-input-container.md-default-theme label,
md-input-container.md-default-theme .md-placeholder{
  color:grey !important;
  padding-left: 5px;

}

.formLeft{
  float: left;
}
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 268px;
}

