<div class="narrowToolbar">

</div>

<md-tab-group class="topToolbar">

  <md-tab label="Vartojimo paskolos">

  </md-tab>

  <md-tab label="Paskolos skaičiuoklė">
    <div class="page-padding" align="center">
      <div>
        <md-toolbar color="primary" layout-align="center center">
          <span class="spanCentered">Vartojimo paskolos skaičiuoklė</span>
        </md-toolbar>
        <h2 style="color:sienna">Informacija apie jūsų pageidaujamą paskolą</h2>
        <label style="color: gray">Pageidaujama paskolos suma</label>
        <md-slider [(ngModel)]="loan"
                   class="md-slider-horizontal"
                   showTicks="true"
                   max="20000"
                   min="500"
                   step="1"
                   thumbLabel="true"
                   value="500">
        </md-slider>
        <input [(ngModel)]="loan" class="digits">
        <span class="unit" style="color: gray">Eur</span>
        <div align="center">
          <label style="color:sienna">Paskolą imsiu</label>
          <input type="radio"
                 name="alone"
                 [(ngModel)]="ifAlone"
                 checked> Vienas
          <input type="radio"
                 name="alone"
                 value="true"
                 [(ngModel)]="ifAlone"> Su sutuoktiniu(bendraskoliu)
        </div>
      </div>

      <div>
        <h2 style="color:sienna">Informacija apie jūsų pajamas</h2>
        <label style="color: gray">Jūsų grynosios mėnesio pajamos</label>
        <md-slider [(ngModel)]="income"
                   class="md-slider-horizontal"
                   showTicks="true"
                   max="20000"
                   min="245"
                   step="1"
                   thumbLabel="true"
                   value="245">
        </md-slider>
        <input [(ngModel)]="income"
               class="digits"
               value="245"
               type="text"
               id="income">
        <span class="unit" style="color: gray">Eur/mėn.</span>
      </div>

      <div *ngIf="ifAlone">
        <label style="color: gray">Sutoktinio (bendramokslio) grynosios mėnesio pajamos</label>
        <md-slider [(ngModel)]="income2"
                   class="md-slider-horizontal"
                   showTicks="true"
                   max="20000"
                   min="500"
                   step="1"
                   thumbLabel="true"
                   value="500">
        </md-slider>
        <input [(ngModel)]="income2" class="digits">
        <span class="unit" style="color: gray">Eur</span>


      </div>

      <button (click)="showDialog = !showDialog" class="btn">Skaičiuoti</button>

      <app-dialog [(visible)]="showDialog">
        <h1>Hello World</h1>
        <button (click)="showDialog = !showDialog" class="btn">Close</button>
      </app-dialog>


    </div>


  </md-tab>
  <md-tab label="Paraiškos pildymas">

    <div class="page-padding" align="center">
      <div>
        <md-toolbar color="primary" layout-align="center center">
          <span class="spanCentered">Paraiškos pildymas</span>
        </md-toolbar>

        <form>

          <div class="form-group">
            <md-input-container>
              <input type="number" mdInput placeholder="Loan Amount" class="form-control" #loanAmount required>
            </md-input-container>
          </div>
          <div class="form-group">
            <md-input-container>
              <input type="number" mdInput placeholder="Loan Term" class="form-control" #loanTerm required>
            </md-input-container>
          </div>
          <div class="form-group">
            <!--<md-input-container>-->
              <input type="number" mdInput placeholder="Loan Pay Day" class="form-control" #loanInterestPayDay required>

              <span>Loan Pay Day*</span>
              <md-select id="paymentDay" name="paymentDay">
                <md-option value="3">3</md-option>
                <md-option value="7">7</md-option>
                <md-option value="12">12</md-option>
                <md-option value="17">17</md-option>
                <md-option value="22">22</md-option>
                <md-option value="27">27</md-option>
                <!--<md-option id=""></md-option>-->
              </md-select>

            <!--</md-input-container>-->
          </div>
          <div class="form-group">
            <md-input-container>
            <input type="text" mdInput placeholder="First Name" class="form-control" #firstName required>
            </md-input-container>
          </div>
          <div class="form-group">
            <md-input-container>
            <input type="text" mdInput placeholder="Last Name" class="form-control" #lastName required>
            </md-input-container>
          </div>
          <div class="form-group">
            <md-input-container>
          <input type="number" mdInput placeholder="Phone Number1" class="form-control" #phoneNumber1 required>

            </md-input-container>
        </div>
          <div class="form-group">
            <md-input-container>
            <input type="number" mdInput placeholder="Phone Number2" class="form-control" #phoneNumber2 >
            </md-input-container>
          </div>
          <div class="form-group">
            <md-input-container>
            <input type="number" mdInput placeholder="Personal Code" class="form-control" #personalCode required>
            </md-input-container>
          </div>
          <div class="form-group">
            <!--<md-input-container>-->
            <input type="text" mdInput placeholder="Document Type" class="form-control" #docType required>
            <span>DocumentType*</span>
            <md-select>
              <md-option value="PA">Pasas</md-option>
              <md-option value="IT">Asmens tapatybės kortelė</md-option>
              <!--<md-option id=""></md-option>-->
            </md-select>

            <!--</md-input-container>-->
          </div>
          <div class="form-group">
            <md-input-container>
            <input type="number" mdInput placeholder="Document Number" class="form-control" #docNumber required>
            </md-input-container>
          </div>
          <span class="spacerRight">Contacts: </span>
          <div class="form-group">
            <input type="text" mdInput placeholder="Country" class="form-control" #country required>
            <span>Country*</span>
            <country-list></country-list>
          </div>
          <div class="form-group">
            <div *ngIf="true">
              <input type="text" mdInput placeholder="City" class="form-control" #city required>
              <span>City*</span>
              <city-list></city-list>
            </div>
          </div>
          <div class="form-group">
            <md-input-container>
            <input type="number" mdInput placeholder="Monthly Salary (€)" class="form-control" #monthlySalary required>
            </md-input-container>
          </div>
          <div class="form-group">
            <md-input-container>
            <input type="text" mdInput placeholder="Email" class="form-control" #email >
            </md-input-container>
          </div>
          <button md-button type="submit" formnovalidate (click)="addDraft(firstName.value,lastName.value,phoneNumber1.value,phoneNumber2.value,personalCode.value,docType.value,docNumber.value,country.value,city.value,adress.value,monthlySalary.value,email.value,loanAmount.value,loanTerm.value,loanInterestPayDay.value)">Save Form</button>
          <button md-button type="submit" class="mat-active" (click)="addUser(firstName.value,lastName.value,phoneNumber1.value,phoneNumber2.value,personalCode.value,docType.value,docNumber.value,country.value,city.value,adress.value,monthlySalary.value,email.value,loanAmount.value,loanTerm.value,loanInterestPayDay.value)">Submit</button>

        </form>





        <!--<md-card class="demo-card demo-basic">-->
          <!--<md-toolbar color="primary">-->
            <!--Hello&nbsp;-->
            <!--<md-input-container dividerColor="accent">-->
              <!--<input mdInput [(ngModel)]="name" type="text" placeholder="First name">-->
            <!--</md-input-container>,-->
            <!--how are you?-->
          <!--</md-toolbar>-->
          <!--<md-card-content>-->
            <!--<p>-->
              <!--<md-input-container>-->
                <!--<input mdInput disabled placeholder="Disabled field" value="Value">-->
              <!--</md-input-container>-->
              <!--<md-input-container>-->
                <!--<input mdInput required placeholder="Required field">-->
              <!--</md-input-container>-->
            <!--</p>-->
            <!--<p>-->
              <!--<md-input-container style="width: 100%">-->
                <!--<input mdInput placeholder="100% width placeholder">-->
              <!--</md-input-container>-->
            <!--</p>-->
            <!--<p>-->
              <!--<md-input-container style="width: 100%">-->
                <!--<input mdInput #input placeholder="Character count (100 max)" maxLength="100">-->
                <!--<md-hint align="end">{{input.value.length}} / 100</md-hint>-->
              <!--</md-input-container>-->
            <!--</p>-->
            <!--<p>-->
              <!--<md-input-container hintLabel="Hint label" style="width: 100%">-->
                <!--<input mdInput placeholder="Show Hint Label">-->
              <!--</md-input-container>-->
            <!--</p>-->

            <!--<p>-->
              <!--<md-input-container>-->
                <!--<input mdInput>-->
                <!--<md-placeholder>-->
                  <!--I <md-icon class="demo-icons">favorite</md-icon> <b>bold</b> placeholder-->
                <!--</md-placeholder>-->
                <!--<md-hint>-->
                  <!--I also <md-icon class="demo-icons">home</md-icon> <i>italic</i> hint labels-->
                <!--</md-hint>-->
              <!--</md-input-container>-->
            <!--</p>-->
            <!--<p>-->
              <!--<md-input-container hintLabel="Hint label" style="width: 100%">-->
                <!--<input mdInput #hintLabelWithCharCount placeholder="Show Hint Label With Character Count">-->
                <!--<md-hint align="end">{{hintLabelWithCharCount.value.length}}</md-hint>-->
              <!--</md-input-container>-->
            <!--</p>-->
            <!--<p>-->
              <!--<md-checkbox [(ngModel)]="dividerColor">Check to change the divider color:</md-checkbox>-->
              <!--<md-input-container [dividerColor]="dividerColor ? 'primary' : 'accent'">-->
                <!--<input mdInput [placeholder]="dividerColor ? 'Primary color' : 'Accent color'">-->
              <!--</md-input-container>-->
            <!--</p>-->
            <!--<p>-->
              <!--<md-checkbox [(ngModel)]="requiredField"> Check to make required:</md-checkbox>-->
              <!--<md-input-container>-->
                <!--<input mdInput-->
                       <!--[required]="requiredField"-->
                       <!--[placeholder]="requiredField ? 'Required field' : 'Not required field'">-->
              <!--</md-input-container>-->
            <!--</p>-->
            <!--<p>-->
              <!--<md-button-toggle-group [(ngModel)]="floatingLabel">-->
                <!--<md-button-toggle value="auto">Auto Float</md-button-toggle>-->
                <!--<md-button-toggle value="always">Always Float</md-button-toggle>-->
                <!--<md-button-toggle value="never">Never Float</md-button-toggle>-->
              <!--</md-button-toggle-group>-->
            <!--</p>-->

            <!--<p>-->
              <!--<md-input-container [floatPlaceholder]="floatingLabel">-->
                <!--<input mdInput placeholder="Placeholder">-->
              <!--</md-input-container>-->
            <!--</p>-->

            <!--<p>-->
              <!--<md-input-container>-->
                <!--<input mdInput placeholder="Prefixed" value="example">-->
                <!--<div mdPrefix>Example:&nbsp;</div>-->
              <!--</md-input-container>-->
              <!--<md-input-container align="end">-->
                <!--<input mdInput placeholder="Suffixed" value="123">-->
                <!--<span mdSuffix>.00 €</span>-->
              <!--</md-input-container>-->
              <!--<br/>-->
              <!--Both:-->
              <!--<md-input-container align="end">-->
                <!--<input mdInput #email placeholder="Email Address" value="angular-core">-->
                <!--<span mdPrefix>-->
          <!--<md-icon [class.primary]="email.focused" class="demo-icons demo-transform">email</md-icon>-->
          <!--&nbsp;-->
        <!--</span>-->
                <!--<span mdSuffix class="demo-transform" [class.primary]="email.focused">-->
          <!--&nbsp;@gmail.com-->
        <!--</span>-->
              <!--</md-input-container>-->
            <!--</p>-->

            <!--<p>-->
              <!--Empty: <md-input-container><input mdInput></md-input-container>-->
              <!--<label>Label: <md-input-container><input mdInput></md-input-container></label>-->
            <!--</p>-->
          <!--</md-card-content>-->
        <!--</md-card>-->





      </div>


    </div>


  </md-tab>
</md-tab-group>



<!--<h1>Customers:</h1>-->
<!--<div >-->
  <!--<div >-->
    <!--<table >-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>#</th>-->
        <!--<th>customers:</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr *ngFor="let customer of customers">-->
        <!--<th>{{ customer.id }}</th>-->
        <!--<th>{{ customer.firstName }}</th>-->
        <!--<th>{{customer.lastName}}</th>-->
        <!--<th>{{customer.phoneNumber1}}</th>-->
        <!--<th>{{customer.phoneNumber2}}</th>-->
        <!--<th>{{customer.personalCode}}</th>-->
        <!--<th>{{customer.docType}}</th>-->
        <!--<th>{{customer.docNumber}}</th>-->
        <!--<th>{{customer.country}}</th>-->
        <!--<th>{{customer.city}}</th>-->
        <!--<th>{{customer.address}}</th>-->
        <!--<th>{{customer.monthlySalary}}</th>-->
        <!--<th>{{customer.email}}</th>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->

<!--<md-list *ngFor="let customer of customers">-->
  <!--<md-list-item> {{customer.id}} </md-list-item>-->
  <!--<md-list-item> {{customer.firstName}} </md-list-item>-->
  <!--//<md-list-item> Paprika </md-list-item>-->
<!--</md-list>-->



<!--<form>-->
  <!--<div class="form-group">-->
    <!--<label >first name</label>-->
    <!--<input type="text" class="form-control" #firstName required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >last name</label>-->
    <!--<input type="text" class="form-control" #lastName required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >Phone number 1</label>-->
    <!--<input type="number" class="form-control" #phoneNumber1 required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >Phone number 2</label>-->
    <!--<input type="number" class="form-control" #phoneNumber2 >-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >personal code</label>-->
    <!--<input type="number" class="form-control" #personalCode required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >docType</label>-->
    <!--<input type="text" class="form-control" #docType required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >docNumber</label>-->
    <!--<input type="number" class="form-control" #docNumber required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >Country</label>-->
    <!--<input type="text" class="form-control" #country required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >City</label>-->
    <!--<input type="text" class="form-control" #city required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >address</label>-->
    <!--<input type="text" class="form-control" #adress required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >monthlySalary</label>-->
    <!--<input type="number" class="form-control" #monthlySalary required>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label >email</label>-->
    <!--<input type="text" class="form-control" #email >-->
  <!--</div>-->


  <!--<button type="submit" (click)="addUser(firstName.value,lastName.value,phoneNumber1.value,phoneNumber2.value,personalCode.value,docType.value,docNumber.value,country.value,city.value,adress.value,monthlySalary.value,email.value)">Submit</button>-->

<!--</form>-->



