<!--<div class="container">-->
  <!--<table class="table table-striped" >-->
    <!--<thead class="thead-inverse">-->
    <!--<tr>-->
      <!--<th></th>-->
      <!--<th>Likusi suma</th>-->
      <!--<th>Mėnesinis mokestis</th>-->
      <!--<th>Mokėtinos palūkanos</th>-->
      <!--<th>Sutarties mokestis</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let payment of list"-->
        <!--[class.selected]="payment === selectedPayment">-->
      <!--<td>{{payment.monthNumber}}</td>-->
      <!--<td>{{payment.remainingAmount|currency:'EUR':true:'1.2-2'}}</td>-->
      <!--<td>{{payment.monthlyPay|currency:'EUR':true:'1.2-2'}}</td>-->
      <!--<td>{{payment.monthlyInt|currency:'EUR':true:'1.2-2'}}</td>-->
      <!--<td>{{payment.contractFee|currency:'EUR':true:'1.2-2'}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
